alertmanager:
  enabled: false

pushgateway:
  enabled: false

server:
  retention: "6h"

  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      memory: 512Mi

kubeStateMetrics:
  enabled: true

nodeExporter:
  enabled: true
