replicaCount: 2

image:
  repository: nginx
  tag: latest

service:
  type: ClusterIP
  port: 80

labels:
  app: web

serviceAccount:
  create: false

ingress:
  enabled: true
  host: web.local

autoscaling:
  enabled: false

