replicasCount: 1

config:
  enabled: true
  indexHtml: |
    <h1>DEV ENVIRONMENT </h1>

service:
  enabled: true
  type: ClusterIP
  port: 80

ingress:
  enabled: false

autoscaling:
  enabled: false

deployment:
  enabled: true


