replicaCount: 1

image:
  repository: ghcr.io/adiforstudy/webapp
  tag: latest
  pullPolicy: Always

deployment:
  enabled: true

service:
  enabled: true
  type: ClusterIP
  port: 80

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 100m
    memory: 128Mi

config:
  enabled: true
  indexHtml: |
    <h1>DEV ENVIRONMENT</h1>
    <p>GitOps change test</p>
ingress:
  enabled: false

autoscaling:
  enabled: false
