name: Build and Push Docker Image (GHCR)

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Debug repo content
        run: |
          pwd
          ls -la
          echo "---- Dockerfile ----"
          test -f Dockerfile && cat Dockerfile || (echo "Dockerfile missing" && exit 1)
          echo "---- app folder ----"
          ls -la app || true

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ghcr.io/adiforstudy/k8s-production-app:latest
            ghcr.io/adiforstudy/k8s-production-app:${{ github.sha }}
